*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #1C1C1C;
}

body{
     background-color: #1C1C1C; 
}

nav{
    background-color: #1C1C1C !important ;
}

.navbar-nav :nth-child(3) span{
    color: #2AD386;
}

.input-group input{
    border: 1px solid #2AD386 !important;
    background-color: transparent !important;
    outline: none !important;
    color: white !important;
}

.input-group input::placeholder{
    color: #515151;
}

.input-group span{
    background-color: transparent;
    border: 1px solid #2AD386 !important;
}

.navbar-nav li:first-child{
    background-color: #515151 !important;
}

.navbar-nav :nth-child(4) img{
    background-color: #515151 !important;
}
.navbar-nav :nth-child(4) a{
    background-color: #515151;
}

.navbar-nav :nth-child(5) a{
    background-color: #515151;
}

.navbar-nav :nth-child(5) img{
    background-color: #515151;
}

